[class*='blocks_page_gutenblocks']
	background background-color

	#wpcontent
		padding-left 0

	*
		box-sizing border-box

	img
		max-width 100%


.gutenblocks-settings__header
	background white
	border-bottom 1px solid border-color
	padding 10px

.gutenblocks-settings__header__inner
	max-width 50rem
	margin 0 auto
	padding 0 1.5rem
	display flex

	h1
		font-weight 500
		margin 0
		line-height 32px
		font-size 1.4em

	img
		display block
		width 32px
		height 32px
		margin-right 6px

.gutenblocks-settings__content
	max-width 50rem
	margin 0 auto
	padding 1.5rem

	h2
		margin-bottom 0.4em

.gutenblocks-list
	background white
	border 1px solid border-color
	margin pad-s 0 3rem

	ul
		margin 0

.gutenblocks-list__title
	font-weight 400
	color #9AA5B1
	font-size 1.2em
	letter-spacing .02em
	padding pad-s
	margin 0
	border-bottom 1px solid border-color
	background #fbfbfb

	&:before
		content '— '
		color border-color

.gutenblocks-block
	padding 16px pad-s
	margin 0
	border-bottom 1px solid border-color

.gutenblocks-block__head
	display flex
	align-items center

.gutenblocks-block__icon
	position relative
	padding-right 8px
	cursor pointer

	&:after
		content ''
		display block
		position absolute
		top -3px
		left -3px
		width 8px
		height 8px
		border-radius 50%
		transition .4s background ease-out

.gutenblocks-block.is-active
	.gutenblocks-block__icon:after
		background #8cc44b

.gutenblocks-block:not(.is-active)
	.gutenblocks-block__title
	.gutenblocks-block__icon span
		opacity .5

	.gutenblocks-block__icon:after
		background #B54D4D

.gutenblocks-block__title
	flex 1
	font-weight bold
	cursor pointer

	small
		opacity .5

.gutenblocks-block__actions
	text-align right

.gutenblocks-block__button
	font-size .9em
	display inline-block
	border 1px solid border-color
	border-radius 5px
	color #8D9FB0
	text-decoration none
	padding 5px 7px
	transition .3s all ease-out

	&:hover
		border-color #454545
		color #454545

	&:focus
		box-shadow none

.gutenblocks-block__button + .gutenblocks-block__button
	margin-left 8px

.gutenblocks-block__panel
	display none

.gutenblocks-block__panel__title
	position relative
	font-weight bold
	margin 2em 0 1em

	&:before
		content ''
		display block
		position absolute
		height 1px
		width 80px
		background border-color
		top -8px
		left 0


.gutenblocks-block__description
	margin 1.5em 0

	p:last-child
		margin 0
		color #999
		font-style italic

.gutenblocks-block__preview
	img
		display block
		margin 0 auto
		max-width 400px

// .gutenblocks-block__settings

.gutenblocks-block__settings__option
	display flex
	margin 1em 0

.gutenblocks-block__settings__label
	width 120px

.gutenblocks-block__settings__field
	flex 1

	textarea
		width 100%
		max-width 400px
