// Common styles

html
	box-sizing border-box

*, *:before, *:after
	box-sizing inherit 

body.blocks_page_advanced-gutenberg-blocks-manager
body.blocks_page_advanced-gutenberg-blocks-disable
	background background-color
	
	#wpcontent
		background background-color
		padding-left 0

	img
		max-width 100%

	.update-nag
		display none !important

// Main Wrapper

.AGB-settings
	position relative
	padding-top 57px

// Header

.AGB-header
	display flex
	background white
	padding 12px
	position fixed
	right 0
	z-index 100

	+mobile()
		left 0
		top 46px

	+tablet()
		left 32px
		top 32px

	+desktop()
		left 160px
		top 32px

	h1
		font-weight 500
		margin 0
		line-height 32px
		font-size 1.4em

	img
		display block
		width 32px
		height 32px
		margin-right 6px

.AGB-header__menu
	display flex
	flex 1
	justify-content flex-end
	margin 0
	flex 1

	+not-desktop()
		li
			display none

	li
		margin-bottom 0

	a
		display block
		line-height 32px
		text-decoration none
		padding 0 10px

	li + li
		border-left 1px solid darken( background-color, 5% )

.AGB-header__search
	display flex
	justify-content flex-end
	margin 0 0 0 20px
	min-width 300px

	input
		width 100%

// Main 

.AGB-main
	overflow auto

.AGB-cards__title
	margin-top 20px
	text-transform uppercase
	margin-left 30px
	color #838EAB

.AGB-cards__info
		margin-left 30px
		color #838EAB
		font-style italic

.AGB-cards__list
	display flex
	flex-wrap wrap
	margin 15px

	&.is-disabled
		opacity .7

.AGB-card
	background white
	border-radius 8px
	margin 15px
	padding 10px
	transition all .5s
	display flex
	flex-direction column

	+mobile()
		width calc( 50% - 30px )

	+tablet()
		width calc( 33.3333333% - 30px )

	+desktop()
		width calc( 25% - 30px )

	&.is-active
		border-top 3px solid on-color

	&:not(.is-active)
		border-top 3px solid off-color

	&:hover
		transform translateY( -2px )
		box-shadow 0 8px 15px rgba(0,0,0, .05)

.AGB-card__header
	display flex
	align-items center
	margin-top 5px

.AGB-card__icon
	margin 5px 10px 0

	.dashicons
		width 24px
		height 24px

.AGB-card__title
	flex 1
	font-weight bold
	font-size 1.5em

.AGB-card__content
	flex 1
	padding-left 46px

	p
		color #7E8492

	p.AGB-card__warning
		color off-color

.AGB-card__actions
	text-align right

// Editor settings page

.AGB-multiple
	margin 0
	margin-bottom 16px

	.wp-picker-container
		display inline-block

	li > input
		transform: translateY(4px)

.AGB-remove-link
	font-size 11px
	transform: translateY(4px)

.AGB-suffixe
	display inline-block
	line-height 26px
	border 1px solid #ddd 
	background #ededed
	border-left none
	border-top-right-radius 2px
	border-bottom-right-radius 2px
	font-size .8em
	padding 0 5px
	transform translateY(3px) translateX(-5px)
	margin-right 8px

.AGB-template
	display none