.toplevel_page_gutenberg-blocks
	background background-color

	#wpcontent
		padding-left 0

	*
		box-sizing border-box


.gutenblocks-settings__header
	background white
	border-bottom 1px solid border-color
	padding 10px

.gutenblocks-settings__header__inner
	max-width 50rem
	margin 0 auto
	padding 0 1.5rem
	display flex

	h1
		font-weight 500
		margin 0
		line-height 32px
		font-size 1.4em

	img
		display block
		width 32px
		height 32px
		margin-right 6px

.gutenblocks-settings__content
	max-width 50rem
	margin 0 auto
	padding 1.5rem

.gutenblocks-list
	background white
	border 1px solid border-color
	margin-bottom 3rem

.gutenblocks-block
	padding pad-s
	margin 0

	&:not(:last-child)
		border-bottom 1px solid border-color

.gutenblocks-block__head
	display flex

.gutenblocks-block__icon
	position relative
	padding-right 8px

.gutenblocks-block.is-active
	.gutenblocks-block__icon:after
		content ''
		display block
		position absolute
		top -3px
		left -3px
		width 8px
		height 8px
		border-radius 50%
		background #8cc44b

.gutenblocks-block__title
	flex 1
	font-weight bold

.gutenblocks-block__actions
	text-align right

.gutenblocks-block__settings
	display none
