.wp-block-advanced-gutenberg-blocks-ad {
	padding: 0;
	border: 1px solid $color-neutral;
	background: $color-light;
	text-align: center;
	line-height: 90px;
	color: #999;
}

// TODO : improve this (needs to be loaded once)
@import '../../interface.scss'