@import 'vars';

// Block

.wp-block-gutenblocks-addtocart__label {
	display: inline-block;
}


// Inspector buttons

.gutenblocks-panel-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 10px;

  span {
    display: block;
    margin: 5px;
    transition: .2s transform ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
		}
	}
}
