.components-text-control__input--small {
  max-width: 80px;
}

.AGB-2cols {
  display: flex;

  & > div:first-child {
    margin-right: 8px;
  }

  & > div:last-child {
    margin-left: 8px;
  }
}

.AGB-fetch {
  flex: 100%;
  font-size: 18px;
}

.editor-styles-wrapper .AGB-fetch p {
  font-size: 14px;
  display: inline-block;
}