// Block

.wp-block-advanced-gutenberg-blocks-addtocart__label {
	display: inline-block;
}


// Inspector buttons

.advanced-gutenberg-blocks-panel-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 10px;

  span {
    display: block;
    margin: 5px;
    transition: .2s transform ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
		}
	}
}
