.wp-block-advanced-gutenberg-blocks-addtocart {
	text-align: center;
}

.wp-block-advanced-gutenberg-blocks-addtocart__button {
	display: inline-flex;
	border-radius: 50px;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	align-items: center;

	&:hover {
		color: white;
	}

	.dashicons {
		margin-right: 8px;
	}
}

.wp-block-advanced-gutenberg-blocks-addtocart__label {
	flex: 1;
}

.wp-block-advanced-gutenberg-blocks-addtocart__separator {
	margin: 0 8px;
}

.wp-block-advanced-gutenberg-blocks-addtocart__sale {
	font-size: .85em;
	opacity: .7;
	margin-left: 4px;
}
