@import 'vars';

.wp-block-gutenblocks-card__urlfetcher {
	display: flex;
	align-items: center;

	input {
		padding: 10px;
		width: 220px;
		border: none;
		outline: none;
		box-shadow: none;
	}

	input:focus {
		box-shadow: none;
	}
}
