.wp-block-advanced-gutenberg-blocks-card {
	position: relative;
	display: block;
	color: #444;
  margin: $margin-default;
	border: 1px solid $color-neutral;
	border-radius: 3px;
	overflow: hidden;
	text-decoration: none;

	&:hover {
		color: #444;
	}
}

.wp-block-advanced-gutenberg-blocks-card__link {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-decoration: none;
}

.wp-block-advanced-gutenberg-blocks-card__image {
	display: block;
	margin: 0 auto;
}

.wp-block-advanced-gutenberg-blocks-card__content {
	padding: .75em 1em;
	border-top: 1px solid $color-neutral;

	.wp-block-advanced-gutenberg-blocks-card__title {
		margin-top: 0;
		font-size: 1.1em;
		font-weight: bold;
	}

	.wp-block-advanced-gutenberg-blocks-card__description {
		font-size: .9em;
		margin: 1em 0;
	}
}

.wp-block-advanced-gutenberg-blocks-card__url {
	color: $color-neutral;
	margin-bottom: 0;
}
