@import 'vars';

.edit-post-visual-editor {
	.wp-block-advanced-gutenberg-blocks-notice__title {
		font-size: $size-title;
	}
}

.wp-block-advanced-gutenberg-blocks-notice {
	margin: 0;
}

// Notice toolbar icons

.AGB-toolbar-icon-advice {
	color: $color-advice;
}

.AGB-toolbar-icon-avoid {
	color: $color-avoid;
}

.AGB-toolbar-icon-warning {
	color: $color-warning;
}

.AGB-toolbar-icon-info {
	color: $color-info;
}
