@import 'vars';
.wp-block-gutenblocks-post {
	display: flex;
	margin: $margin-default;
  border: 1px solid $color-neutral;
  border-radius: 4px;
	overflow: hidden;
}

.wp-block-gutenblocks-post__image {
	flex: 1;
	text-decoration: none;
	border-right: 1px solid $color-neutral;
	background-size: cover;
	background-position: center;

	img {
		display: block;
		margin: 0 auto;
	}
}

.wp-block-gutenblocks-post__content {
	flex: 2;
	padding: 12px;
}

.wp-block-gutenblocks-post__title {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;

	a {
		text-decoration: none;
		color: #444;
	}
}

.wp-block-gutenblocks-post__excerpt {
	p {
		font-size: .9em;
	}
}

.wp-block-gutenblocks-post__actions {
	margin-bottom: 0;
}

.wp-block-gutenblocks-post__button {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	border-radius: 4px;
	color: white;
	background: #444;
	font-size: .9em;
	text-decoration: none;
	padding: .5em 1em;

	&:hover {
		color: white;
		background-color: lighten(#444, 10%);
	}
}
