@import 'vars';

.wp-block-advanced-gutenberg-blocks-notice {
  margin: $margin-default;
  padding: 12px;
  border: 1px solid $color-neutral;
  border-radius: 4px;
}

.wp-block-advanced-gutenberg-blocks-notice__title {
  margin: 0 0 8px 0;
  font-size: $size-title;
}

.wp-block-advanced-gutenberg-blocks-notice__content {
	margin: 1em 0 0 0;
}

.wp-block-advanced-gutenberg-blocks-notice--advice {
  border-top: 3px solid $color-advice;

  .wp-block-advanced-gutenberg-blocks-notice__title {
    color: $color-advice;
	}
}

.wp-block-advanced-gutenberg-blocks-notice--avoid {
  border-top: 3px solid $color-avoid;

  .wp-block-advanced-gutenberg-blocks-notice__title {
    color: $color-avoid;
	}
}

.wp-block-advanced-gutenberg-blocks-notice--warning {
  border-top: 3px solid $color-warning;

  .wp-block-advanced-gutenberg-blocks-notice__title {
    color: $color-warning;
	}
}

.wp-block-advanced-gutenberg-blocks-notice--info {
  border-top: 3px solid $color-info;

  .wp-block-advanced-gutenberg-blocks-notice__title {
    color: $color-info;
	}
}
