.wp-block-advanced-gutenberg-blocks-adtext {
	overflow: auto;
	margin: $margin-default;
}

.wp-block-advanced-gutenberg-blocks-adtext__content {
	p {
		margin: 1.5em 0;
	}

	p:first-child {
		margin-top: 0;
	}
}

.wp-block-advanced-gutenberg-blocks-adtext__ad {
	float: right;
	margin: 0 0 20px 20px;
}
