@import 'vars';

.wp-block-gutenblocks-adtext {
	overflow: auto;
	margin: $margin-default;
}

.wp-block-gutenblocks-adtext__content {
	p {
		margin: 1.5em 0;
	}

	p:first-child {
		margin-top: 0;
	}
}

.wp-block-gutenblocks-adtext__ad {
	float: right;
	margin: 0 0 20px 20px;
}
