// Default Placeholder message

.AGB-block-message {
	text-align: center;
	font-style: italic;
	color: #ccc;
}

// Components Panel

.AGB-panel-results {
  p {
    margin: 10px 0;
    text-align: center;
	}

  ul {
    margin-top: 10px;
    list-style-type: none;
    border: 1px solid #E3E4E7;
	}

  li {
    overflow: auto;
    margin: 0;
    padding: 10px;

    &:not(:first-child) {
      border-top: 1px solid #E3E4E7;
		}

    &:hover {
      background: #efefef;
      cursor: pointer;
		}
	}

  img {
    display: inline-block;
    float: left;
    margin-right: 4px;
    width: 32px;
    height: 32px;
	}
}

// Component Search

.AGB-block-search { 
  border-radius: $radius;
  text-align: center;
  padding: 20px;
  border: 1px solid $color-neutral;
}

.AGB-block-search__logo svg {
  height: 32px;
  display: inline-block;
}

.AGB-block-search.is-dark {
  background: #222;
  color: white; 
  border: none;
}

.AGB-block-search__input {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.editor-styles-wrapper .AGB-block-search__results {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    margin: 10px;
    text-align: center;
    width: calc( 33% - 20px );
    cursor: pointer;
  }
}

.AGB-block-search__more {
  text-align: center;
  a {
    color: #000;
    text-decoration: underline;
  }
}

.AGB-block-search.is-dark .AGB-block-search__more a {
  color: white;
}