.wp-block-advanced-gutenberg-blocks-testimonial__picture {
	position: relative;

	a {
		cursor: pointer;
	}

	.wp-block-advanced-gutenberg-blocks-testimonial__picture__actions {
		position: absolute;
		bottom: -30px;
		left: 0;
		right: 30px;
		font-size: .8em;
		text-align: center;
	}
}

.wp-block-advanced-gutenberg-blocks-testimonial__picture__image {
	display: block;
	cursor: pointer;
	line-height: 100px;
	text-align: center;
}

.wp-block-advanced-gutenberg-blocks-testimonial__signature {
	min-width: 50px;
}
