$color-neutral: #DDD;
$color-light: #FAFAFA;

$margin-default: 2em 0;


// Default Placeholder message

.AGB-block-message {
	text-align: center;
	font-style: italic;
	color: #ccc;
}

// Components Panel

.advanced-gutenberg-blocks-panel-results {
  p {
    margin: 10px 0;
    text-align: center;
	}

  ul {
    margin-top: 10px;
    list-style-type: none;
    border: 1px solid #E3E4E7;
	}

  li {
    overflow: auto;
    margin: 0;
    padding: 10px;

    &:not(:first-child) {
      border-top: 1px solid #E3E4E7;
		}

    &:hover {
      background: #efefef;
      cursor: pointer;
		}
	}

  img {
    display: inline-block;
    float: left;
    margin-right: 4px;
    width: 32px;
    height: 32px;
	}
}
