large()
  @media (min-width 1280px)
    {block}

desktop()
  @media (min-width 1025px)
    {block}

mobile()
  @media (max-width 767px)
    {block}

tablet()
  @media (min-width 768px) and (max-width 1024px)
    {block}

not-desktop()
  @media (max-width 1024px)
    {block}

not-mobile()
  @media (min-width 768px)
    {block}


wpsmall()
	@media (min-width 600px)
    {block}

wpstandard()
	@media (min-width 782px)
    {block}
