desktop()
  @media (min-width 961px)
    {block}

mobile()
  @media (max-width 782px)
    {block}

tablet()
  @media (min-width 783px) and (max-width 960px)
    {block}

not-desktop()
  @media (max-width 960px)
    {block}

not-mobile()
  @media (min-width 782px)
    {block}

